html {
  font-size: 80%;
}

h1 {
  font-size: 2.4rem;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  background-color: #343a40;
}

.cabin {
  font-family: 'Cabin Sketch', cursive;
}

.card {
  background-color: #343a40;
  border: 1px solid grey;
  color: white;
}

.countdown-table {
  border: solid 1px grey;
  border-radius: 3px;
  padding: 6px;
}

.countdown-label {
  font-size: 14px;
}

.hide-form {
  display: none;
}

@media only screen and (max-device-width: 720px) {
  html {
    font-size: 145%;
  }
}
