.stickyheader {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
}

@media only screen and (min-width: 1000px) {
  .stickyheader {
    max-height: 4rem;
  }
}

.rem2 {
  font-size: 2rem;
}

.rem4 {
  font-size: 4rem;
}

.cuprum {
  font-family: 'Cuprum', sans-serif;
}

.external-navbar-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: auto 0 auto auto;
  padding-left: 6px;
}

.external-navbar-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
