.stickyheader{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
}

.cabin {
  font-family: 'Cabin Sketch', cursive;
}

.rem4 {
  font-size: 4rem;
}

.rem2 {
  font-size: 2rem;
}


.rem4 {
  font-size: 4rem;
}

.cuprum {
  font-family: 'Cuprum', sans-serif;
}
