.audio-player {
  flex: 1 1 500px;
  display: grid;
  place-items: center;
  height: 175px;
  width: 600px;
  background-color: #343a40;
  color: white;
  border: 3px groove grey;
  margin: 10px;
}

.bar {
  user-select: none;
  width: 90%;
  display: flex;
  align-items: center;
}

  .bar__time {
    color: lightseagreen;
    font-size: 16px;
  }

  .bar__progress {
    flex: 1;
    border-radius: 5px;
    margin: 0 20px;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

    .bar__progress__knob {
      position: relative;
      height: 26px;
      width: 26px;
      border: 2px solid white;
      border-radius: 50%;
      background-color: lightseagreen;
    }

.player-button-holder {
  display: flex;
  width: 100%;
  justify-content: center;

}

.player-button {
  width: 65px;
  margin: 0px 5px;

}