.audio-player {
  display: grid;
  place-items: center;
  height: 175px;
  width: 600px;
  background-color: lavender;
}

.bar {
  user-select: none;
  width: 90%;
  display: flex;
  align-items: center;
}

  .bar__time {
    color: orange;
    font-size: 16px;
  }

  .bar__progress {
    flex: 1;
    border-radius: 5px;
    margin: 0 20px;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

    .bar__progress__knob {
      position: relative;
      height: 16px;
      width: 16px;
      border: 1.5px solid white;
      border-radius: 50%;
      background-color: orange;
    }

.player-button-holder {
  display: flex;
  width: 100%;
  justify-content: center;

}

.player-button {
  width: 60px;
  margin: 0px 10px;

}