.vcardcontainer {
  display: flex;
  flex-wrap: wrap;
}

.votecard {
  margin: 5px;
  min-width: 285px;
  padding: 0px;
}

.nowPlaying {
  background: radial-gradient(black 20%, lightseagreen);
}

.voteplparent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 1rem;
}
.playlistgroup {
  grid-column: -1;
  padding: 0 5px 0 5px;
  width: 100%;
  grid-row: 1;
}

.dark-list-item {
  color: white;
  background-color: #343a40;
  margin: 0px;
  border-color: rgb(97, 97, 97);
}

.playerparent {
  display: flex;
  flex: 2 0 75px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.playlist-holder {
  width: 100%;
  display: flex;
  flex: 2 0 425px;
  flex-direction: row;
  justify-content: space-between;
}

.playlist-buttons {
  margin: 50 0 0 auto;
}
.playlist-name {
  flex: 1 1 75px;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 0.8em;
}

.submitvote {
  flex: 1 5 75px;
  margin: 10px;
  padding: 3px;
}

.submit-list {
  padding: 0.2em 0.9em;
  font-size: 0.9em;
}

.flex-row-spaced {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 3px;
}
