.vcardcontainer {
  display: flex;
  flex-wrap: wrap;
}

.votecard {
  flex: 1 1 300px;
  margin: 5px;
  padding: 3px;
}

.nowPlaying {
  background: radial-gradient(black 20%, lightseagreen);
}

.voteplparent {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 25%);
  padding: 10px;
}

.playlist-holder, .playerparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist-buttons {
  flex: 1 1 150px;
  margin: 0 0 0 auto;
}
.playlist-name {
  flex: 1 1 75px;
  margin: 0 0 0 auto;
}

.submitvote {
  flex: 1 1 500px;
  margin: 10px;
  padding: 3px;
}